<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-widt, initial-scale=1.0">
    <title>Escuela N°1</title>
</head>
<body>
    #Empiza la barra
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Escuela N°1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="{% url 'profesores.index' %}">Listado de Docentes</a>
              <a class="nav-link" href="#"> Agregar Docentes</a>
              <a class="nav-link" href="#"> Buscar Docentes</a>
              <a class="nav-link" href="#">Listado de Alumnos</a>
              <a class="nav-link disabled">Listado de Materias</a>
            </div>
          </div>
        </div>
      </nav>

      #termina la barra

    <div class= 'container-fluid'>
        {% block title%}

        {% endblock%}
    </div>

    <div class= 'container'>
        {% block content %}

        {% endblock%}
    </div>

</body>
</html>
